@import "colors.css";

#battery {
  margin: 4px 5px;
  padding: 6px 16px;
  background-color: @background;
  border-radius: 20px;
  color: @primary;
}

#clock {
  margin: 4px 5px;
  padding: 6px 10px 6px 16px;
  background-color: @background;
  border-radius: 20px;
  color: @primary;
}
