@import "colors.css";

#custom-notification.inhibited-none,
#custom-notification.dnd-none,
#battery.charging,
#power-profiles-daemon.power-saver {
  color: @state_ok;
}

#idle_inhibitor.activated,
#cpu.warning,
#disk.warning,
#memory.warning,
#battery.warning:not(.charging),
#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification {
  color: @state_warning;
}

#network.disabled,
#cpu.critical,
#disk.critical,
#memory.critical,
#temperature.critical,
#battery.critical:not(.charging),
#power-profiles-daemon.performance,
#custom-notification.dnd-inhibited-none,
#custom-notification.dnd-inhibited-notification {
  color: @state_critical;
}
