@import "colors.css";

/*======= MODULE INDEPENDENT =======*/
#system-group {
  margin: 4px 5px;
  background-color: @background;
  border-radius: 20px;
  color: @primary;
}

#custom-fcitx,
#mpris,
#window,
#custom-arch {
  color: @primary;
  padding: 6px 15px 6px 10px;
  margin: 4px 5px;
  background-color: @background;
  border-radius: 20px;
}

/*======= MODULE CAPSUL =======*/
#audio,
#connections,
#system,
#storage {
  margin: 4px 5px;
  padding: 6px 6px;
  background-color: @background;
  border-radius: 20px;
  color: @primary;
}

#disk,
#memory,
#cpu,
#temperature,
#bluetooth {
  margin-right: 2px;
  padding: 0 8px;
}

#network {
  padding: 0px 10px 0px 4px;
}

#pulseaudio {
  margin-right: 12px;
  margin-left: 8px;
}

/*======= TRAY =======*/
#tray-group {
  margin: 4px 5px;
  background-color: @background;
  border-radius: 20px;
}

#custom-notification {
  padding: 6px 14px 6px 10px;
  color: @primary;
}

#tray {
  padding: 6px 10px;
}

#tray>.passive,
#tray>.active,
#tray>.needs-attention {
  -gtk-icon-effect: none;
}
